@model WebApplication1.Models.ChangePasswordModel
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<html>
<head>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        var otp = 0;
        $(document).ready(function () {
            otp = Math.floor(Math.random() * 999999);
            $("#newpass").hide();
            $("#enterotp").hide();
            $("#showotp").text(otp);
        })
 
        
        function ResetPass() {
            var inputOtp = $("#otptext").val();
            if (otp == inputOtp) {
                $("#enterotp").hide();
                $("#mail").hide();
                $("#newpass").show();
            }
        }

        

    </script>
    <style>
        .form-control {
            margin: auto;
        }

        .form-horizontal {
            height: 500px;
            width: 400px;
            margin: auto;
            margin-top: 100px;
            text-align: center;
            background-color: white;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <br /><br /><br />
        <div id="mail">
            <br />@Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Email-Id or Mobile Number" } })
            <br /><input type="button" value="OK" class="btn-info" onclick="GetOTP()" />
        </div><br /><br /><hr />
        <div id="enterotp">
            @Html.Editor("OTP", new { htmlAttributes = new { @id = "otptext", @class = "form-control", @placeholder = "Enter One Time Password" } })
            <br />
            <p id="showotp">OTP</p>
            <input type="button" value="OK" class="btn-info" onclick="ResetPass()" />
            <br />
        </div>
        <hr />
        <div id="newpass">
            <br />@Html.EditorFor(model => model.newpass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Create New Password" } })
            <br />@Html.EditorFor(model => model.repass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Re-Enter New Password" } })
            <br /><input type="submit" value="Change Password" class="btn btn-default" style="color:white; font-weight:bold; font-size:large; height:40px; width:200px; background-color:darkviolet" />
            <br /><br />
        </div>

        @Html.ActionLink("Cancel", "Login")
    </div>

    }

    <div style="color:red; text-decoration:none">
        @Html.ActionLink("Home", "Index")
    </div>
</body>
</html>
